@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #f1f5f9;
}

@layer utilities {
    .bg-image {
        background-image: url("/bg-home-body.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .grid-cols-25 {
        grid-template-columns: repeat(25, minmax(0, 1fr));
    }

    .grid-cols-20 {
        grid-template-columns: repeat(20, minmax(0, 1fr));
    }

    .grid-cols-16 {
        grid-template-columns: repeat(16, minmax(0, 1fr));
    }


    .tooltip {
        @apply invisible absolute;
    }

    .has-tooltip:hover .tooltip {
        @apply visible z-50;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .bg-custom {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .bg-custom-scroll {
        background-color: rgb(0, 0, 0);
    }

    .bg-custom-scroll-opacity {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .bg-custom-scroll-opacity a {
        color: rgba(255, 255, 255, 0.7);
    }

    .bg-custom-scroll-opacity a:hover {
        color: rgba(255, 255, 255, 1);
    }

    .bg-custom-search {
        background-color: var(--background-color);
    }

    .border-custom-search {
        border: 1px solid var(--background-color);
    }


    @media screen and (max-width: 380px) {
        .xxs-mtop {
            top: 8rem;
        }
    }

    @media screen and (min-width: 476px) {
        .xxs-mtop {
            top: 12rem;
        }

        .xs-mtop h1 {
            font-size: 2.5em;
        }

        .xs-mtop p {
            font-size: 1.2em;
        }
    }


    @media screen and (max-width: 475px) {
        .xxs-mtop {
            top: 12rem;
        }

        .xs-mtop h1 {
            font-size: 1.5em;
        }

        .xs-mtop p {
            font-size: 0.75em;
        }
    }

    input[type='range'] {
        width: 100%;
        height: 30px;
        overflow: hidden;
        cursor: pointer;
        outline: none;
    }

    input[type='range'],
    input[type='range']::-webkit-slider-runnable-track,
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: none;
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 1px;
        background: white;
    }

    input[type='range']:nth-child(2)::-webkit-slider-runnable-track {
        background: none;
    }

    input[type='range']::-webkit-slider-thumb {
        position: relative;
        height: 15px;
        width: 15px;
        margin-top: -7px;
        background: #fff;
        border: 1px solid white;
        border-radius: 25px;
        z-index: 1;
    }


    input[type='range']:nth-child(1)::-webkit-slider-thumb {
        z-index: 2;
    }

    /* Proof of concept for Firefox */
    @-moz-document url-prefix() {
        .rangeslider::before {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            display: block;
            position: relative;
            top: 16px;
        }

        input[type='range']:nth-child(1) {
            position: absolute;
            top: 35px !important;
            overflow: visible !important;
            height: 0;
        }

        input[type='range']:nth-child(2) {
            position: absolute;
            top: 35px !important;
            overflow: visible !important;
            height: 0;
        }
        input[type='range']::-moz-range-thumb {
            position: relative;
            height: 15px;
            width: 15px;
            margin-top: -7px;
            background: #fff;
            border: 1px solid white;
            border-radius: 25px;
            z-index: 1;
        }
    }


    body {
        background-color: var(--background-color);
    }
}