@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #dadada;
}

@layer utilities {
    .bg-custom {
        background-color: rgba(218, 218, 218, 0.8);
    }
}

body {
    background-color: var(--background-color);
}
