@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #e3e3e3;
}

@layer utilities {
    .bg-custom {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .bg-custom-scroll {
        background-color: rgb(0, 0, 0);
    }

    .bg-custom-scroll-opacity {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .bg-custom-scroll-opacity a {
        color: rgba(255, 255, 255, 0.7);
    }

    .bg-custom-scroll-opacity a:hover {
        color: rgba(255, 255, 255, 1);
    }

    .bg-custom-search {
        background-color: var(--background-color);
    }

    .border-custom-search {
        border: 1px solid var(--background-color);
    }

    @media screen and (max-width: 475px) {

        .xs-mtop h1 {
            font-size: 1.5em;
        }

        .xs-mtop p {
            font-size: 0.75em;
        }

    }
    @media screen and (min-width: 476px) {
        .xs-mtop h1 {
            font-size: 2.5em;
        }

        .xs-mtop p {
            font-size: 1.2em;
        }
    }

}


body {
    background-color: var(--background-color);
}
